
/* THE PROGRESS BAR */
.progressbar{
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 35px;
	border-radius: 5px;
	background-color: #eee;
}

/* THE FONT FOR THE NUMBER ON PROGRESS BAR*/
.progressPercent{
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #eee;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.Particles{
  position: fixed;
  z-index: -100;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(52, 43, 43);
}

.App-link {
  color: #61dafb;
}
.navbar{
  background-color: #d8e4fc;
  
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
  font-size: 22px;

}
.title-font{
  text-align: center;
  margin-top: 1em;
  font-family: 'Epilogue', sans-serif;
  color: #d8e4fc;
  font-size: 120px;
}
.title-font-second{
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
  color: #d8e4fc;
  font-size: 120px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
