/* THE PROGRESS BAR */
.progressbar {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 35px;
  border-radius: 5px;
  background-color: #eee;
}

/* THE FONT FOR THE NUMBER ON PROGRESS BAR*/
.progressPercent {
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.classroom{
  text-align: center;
}
.classroomLabel{
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 400%;
}

.Particles {
  position: fixed;
  z-index: -100;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(52, 43, 43);
}

.App-link {
  color: #61dafb;
}
.navbar {
  background-color: #d8e4fc;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  font-size: 22px;
}
.title-font {
  text-align: center;
  margin-top: 0.75em;
  font-family: "Epilogue", sans-serif;
  color: #fff;
  font-size: 120px;
}
.title-font-second {
  margin-left: 535px;
  display: inline;
  text-align: center;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  color: #7993bf;
  font-size: 120px;
}
.title-font-third {
  text-align: center;
  display: inline;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  color: #143871;
  font-size: 120px;
}
.logo {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  display: inline;
  color: #7993bf;
  font-size: 27px;
}
.logo2 {
  display: inline;
  font-weight: bolder;
  color: #143871;
  font-size: 27px;
}
.buttonfont {
  color: #617494;
  font-weight: bold;
  font-size: 20px;
}
.desc {
  margin-left: 330px;
  margin-top: 1em;
  font-size: 40px;
  color: #fff;
  margin-bottom: 1.6em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navi-link {
  text-decoration: none;
  font-weight: 300;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

.navi-link:hover {
  color: rgba(0, 0, 0, 0.3);
}

.navi-brand {
  text-decoration: none;
  font-weight: 600;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
  color: rgba(0, 0, 0);
  font-size: 1.5rem;
}
.timerformat{
  text-align: center;
  color: #4C5F80;
  font-size: 50px;
  margin-top: 2em;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
}
.timername{
  text-align: center;
  color: #61789E;
  font-size: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
}
.desctext{
  margin-top: 0.75em;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
  color: #fff;
  font-family: "Epilogue", sans-serif;
  font-size: 40px;
}
.smalllogo1{
  margin-left: 585px;
  display: inline;
  text-align: center;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  color: #7993bf;
  font-size: 100px;
}
.smalllogo2{ 
  text-align: center;
  display: inline;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  color: #143871;
  font-size: 100px;
}
